.container {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

select, input, button {
  margin: 10px 0;
}

#resultado {
  font-size: 18px;
  font-weight: bold;
}
